﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Footer.ascx.cs" Inherits="SmartPraxis.Shared.Sections.Footer" %>
<%--<footer>
    Copyright <%
                  this.Response.Write(GetTimeNow.GetTime().Year); %>  |  Smart-Praxis  |  smart-praxis.com <br class="visible-xs">Smart Praxis |  All Rights Reserved
</footer>--%>