﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteBasicLayoutSignin.Master.cs" Inherits="SmartPraxis.Shared.MasterPages.SiteBasicLayoutSignin" %>
<%@ Register Src="~/Shared/Sections/StyleSheet.ascx" TagPrefix="uc1" TagName="StyleSheet" %>
<%@ Register Src="~/Shared/Sections/JavaScriptTop.ascx" TagPrefix="uc1" TagName="JavaScriptTop" %>
<%@ Register Src="~/Shared/Sections/JavaScriptBottom.ascx" TagPrefix="uc1" TagName="JavaScriptBottom" %>

<!DOCTYPE html>
<html lang="en">
    <head id="hdHead" runat="server">
        <title>
            Smart-Praxis
        </title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Smart-Praxis" />        
        <meta name="keyword" content="Template, Theme, Responsive, Fluid, Retina" />
        <asp:ContentPlaceHolder ID="head" runat="server" />
        <uc1:StyleSheet runat="server" id="StyleSheet" />
        <asp:ContentPlaceHolder ID="StyleSheetPage" runat="server" />
        <uc1:JavaScriptTop runat="server" id="JavaScriptTop" />        
    </head>
    <body style="background: url(/Content/Images/FullSizeRender.jpg) no-repeat; background-size:1920px 1000px;  background-position: top; ">
        <form id="form1" runat="server">
        <asp:HiddenField ID="HiddenSlug" runat="server" />
        <asp:HiddenField ID="HiddenRoleID" runat="server" />    
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <asp:ContentPlaceHolder ID="ContentBody" runat="server" />
        <uc1:JavaScriptBottom runat="server" ID="JavaScriptBottom" />
        <asp:ContentPlaceHolder ID="JavaScriptPage" runat="server" />
        </form>
    </body>
</html>