﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Dashboard.aspx.cs" Inherits="SmartPraxis.Pages.MRICompany.Dashboard"
    MasterPageFile="~/Shared/MasterPages/SiteLayoutMRICompany.Master" 
    Title="Smart-Praxis" %>

<asp:Content ID="bodyPage" ContentPlaceHolderID="ContentBody" runat="server">
    <img alt="" id="imgSessionAlive" width="1" height="1" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" >
      // Helper variable used to prevent caching on some browsers
        var counter;
        counter = 0;

        function KeepSessionAlive() {
            // Increase counter value, so we'll always get unique URL (sample source from page)
            // http://www.beansoftware.com/ASP.NET-Tutorials/Keep-Session-Alive.aspx
            counter++;

            // Gets reference of image
            var img = document.getElementById("imgSessionAlive");

            // Set new src value, which will cause request to server, so
            // session will stay alive
            var pathname = this.Session["PathName"] != null ? this.Session["PathName"].ToString() : string.Empty;
            img.src = string.Format("http://{0}.com/RefreshSessionState.aspx?c=", pathname) + counter;

            // Schedule new call of KeepSessionAlive function after 60 seconds
            setTimeout(KeepSessionAlive, 60000);
        }

        // Run function for a first time
        KeepSessionAlive();
    </script> 

    <div class="user-stats">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <asp:ImageButton alt="Patients" ToolTip="Patients" ID="PatientsButton" runat="server" ImageUrl="/Content/Images/patient.png" OnClick="Patients_Click" />
                    </div>
                    <div class="col-xs-8">
                        <table>
                            <tr>
                                <td style="width:100px">
                                    <h3><%=this.Session["PatientRequests"].ToString() %></h3>
                                    <p>Pending&nbsp;Today</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <asp:ImageButton alt="Accepted" ToolTip="Accepted" ID="AcceptedButton" runat="server" ImageUrl="/Content/Images/check_mark.png" OnClick="Accepted_Click" />
                    </div>
                    <div class="col-xs-8">
                        <table>
                            <tr>
                                <td style="width:160px">
                                    <h3><%=this.Session["Accepted"].ToString() %></h3>
                                    <p>Accepted</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
         
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <asp:ImageButton alt="Rejected" ToolTip="Rejected" ID="RejectedButton" runat="server" ImageUrl="/Content/Images/error.png" OnClick="Rejected_Click" />
                    </div>
                    <div class="col-xs-8">
                        <table>
                            <tr>
                                <td style="width:100px">
                                    <h3><%=this.Session["Rejected"].ToString() %></h3>
                                    <p>Rejected</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
         
            <div class="col-md-3 col-sm-6">
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <asp:ImageButton alt="Comments" ToolTip="Comments" ID="CommentsButton" runat="server" ImageUrl="/Content/Images/chat.png" OnClick="Comments_Click" />
                    </div>
                    <div class="col-xs-8">
                        <table>
                            <tr>
                                <td style="width:100px">
                                    <h3><%=this.Session["Comments"].ToString() %></h3>
                                    <p>Comments</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>