﻿/* 
    for form popup
*/
html.RadForm_Black, 
html.RadForm_BlackMetroTouch {
    background-color: #fff;
}
 
.size-custom {
    height: 365px;
    width: 1208px;
}

/* 
    for timeout 
*/
.clockSession
{
    width: 409px;
    height: 174px;
    /*background: url(/content/images/clockSession.jpg) no-repeat;*/
}
         
.contSession
{
    width: 270px;
    float: right;
    text-align: center;
    margin: 20px 20px 0 0 ;
}
         
.sessionExpire
{
    color: #3366ff;
    padding-top: 30px;
}
         
.showNotification
{
    padding-top: 15px;
    color: #666;
}
         
.timeRemain
{
    padding-top: 5px; 
    color: #000;
}
         
.timeSeconds
{
    font-size: 30px;
    padding-right: 5px;
}
         
.infoIcon, .notificationContent
{
    display: inline-block;
    zoom: 1;
    *display: inline;
}
         
.infoIcon
{
    width: 32px;
    height: 32px;
    margin: 0 10px ;
    vertical-align: top;
}
         
.notificationContent
{
    width: 160px;
    vertical-align: bottom;
}
 
.demo-container
{
    width: 410px;
}
 
div.timeoutNotification {
    background-color: #c3d8f1;
}