﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="2.aspx.cs" Inherits="SmartPraxis.Pages.DeviceCoTech._2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="background: steelblue">
<form id="form1" runat="server">
    <div id="divPage" runat="server" align="left">
        
    </div>
</form>
</body>
</html>