﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="JavaScriptBottom.ascx.cs" Inherits="SmartPraxis.Shared.Sections.JavaScriptBottom" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../Content/Scripts/bootstrap.min.js"></script>
<script src="../../Content/Scripts/jquery.waypoints.min.js"></script>
<script src="../../Content/Scripts/wiwet.template.js"></script>
<script type="text/javascript" src="../../Content/Scripts/site.js"></script>