﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="JavaScriptTop.ascx.cs" Inherits="SmartPraxis.Shared.Sections.JavaScriptTop" %>
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->